
@import url('https://fonts.googleapis.com?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    /* border: 1px solid red;   */
}

body, html{
    height: 100%;
    width: 100%;
}


:root{
    --btn-green: #0DA34E;
}

/* NAVBAR  */

nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: flex-start;
    padding: 2vw 8vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1{
    font-size: 1.6vw;
}

.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 2.5vw;
}

.nav-part2 h5{
    margin-bottom: 0.8vw;
    display: none;
    overflow: hidden;
}
.nav-part2 h5 span{
    font-size: 0.7vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

.nav-bottom{
   width: 83.5%;
   height: 0;
   position: absolute;
   background-color: #111;
   top: 100%;
   z-index: 9;
   border-bottom: 1px solid white;
}

nav button{
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 20px;
    border-radius: 50px;
    border: none;
}
nav button svg{
    height: 1.5vw;
    margin-left: 1em;
}


 /* PAGE1  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;
}


#page1 h1 svg{
    height: 6.5vw;
    width: 6.5vw;
    border-radius: 50%;
    background-color: var(--btn-green);
}

#page1 p{
    font-size: 1.1vw;
    text-align: center;
    font-weight: 400;
    margin-block: 1.8vh 1.8vh;
}

#page1-something{
   display: flex; 
   align-items: center;
   justify-content: center;
   gap: 0.5vw;
}

#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 12px;
    border: 1px solid #ffffff62;
    border-radius: 50px;
}
#page1-something h4:nth-child(3){
    padding: 5px 5px;
    border: none;
}

.moving-div{
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
}

.moving-div .move{
   display: inline-block;
   animation-name: moove;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
.moving-div .move img{
height: 1vw;
margin: 0 1.2vw;
}

.blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent, #111)
}
.blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
   background: linear-gradient(to right, transparent, #111)
}




@keyframes moove{
   0%{
    transform: translateX(0);
   }
   100%{
    transform: translateX(-100%);
   }
}




 /* PAGE2  */
.page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.203);
}

.page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 0;
}

.page2-left p{
 font-size: 1vw;
}
.page2-left h5{
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}
.page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    text-transform: capitalize;
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.right-elem img{
    height: 6vw;
    width:  6vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}


 /* PAGE 3  */

 .page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .page3-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vh;
 }

 .page3-center .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2vw;
    border-radius: 50%;
    background-color: white;
 }
 .page3-center .icon i{
    color: black;
    font-size: 2.4vw;
 }
 .page3-center h5{
    background-color: #fff;
    color: black;
    padding: 10px 18px;
    border-radius: 1vw;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.8s ;
    transform: translateY(60%);
 }

 .page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
 }

.page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 200;
}


.page4{
height: 85vh;
width: 100%;
background-color: #FFFFFF;
display: flex;
justify-content: center;
padding-top: 10vh;
gap: 18vw;

}
.page4-left{
    width: 25%;
}
.page4-left h2{
    font-size: 3vw;
    line-height: 110%;
    font-weight: 700;
    color: black;
}

.page4-right{
    width: 44%;
}

.page4-right h5{
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 550;
    color: rgb(166, 165, 165);
    
}

.page4-right p{
    color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.6vw;
}

.page5{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page5 .page5-grid{
    height: 60vh;
    width: 88%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vh;
}

.grid-item{
    padding: 4vh 4vh;
    background-color: #F5F5F5;
    border-radius: 1vh;
}

.grid-item h1{
    font-size: 6vh;
    color: rgb(16, 14, 14);
    margin-bottom: 8vh;
}

.grid-item .bottom{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.grid-item .bottom p{
    font-size: 2.3vh;
    color: rgb(102, 100, 100);
    font-weight: 500;
}



 /* PAGE 6  */
.page6{
    min-height: 100vh;
    width: 100%;
    background-color: #ffff;
    position: relative;
    padding-bottom: 8vh;
}

.section{
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}

.section-left{
    padding-top: 3vh;
    height: 80%;
    width: 25%;
    border-top: 2px solid rgb(24, 24, 24);
}

.section-left h2{
    font-size: 2.1vw;
    font-weight: 500;
    color: black;
}
.section-left p{
    color: rgb(36, 36, 36);
    margin-top: 12vh;
    font-weight: 500;
    font-size: 1.2vw;
}


.section-right{
    height: 80%;
    width: 70%;
    background-color: green;
    position: relative;
}

.section-right  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-right video{
    height: 100% ;
    width: 100%;
    position: absolute;
    top:0 ;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}



/* PAGE 7  */

.page7{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    padding: 5vh 8.5vw;
    align-items: flex-start;
    justify-content: space-between;
}

.page7>button{
    background-color: #0DA34E;
    padding: 1vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    color: rgb(228, 226, 226);
    position: sticky;
    top: 15%;
}

.page7-right{
    width: 76%;
}

.page7-right p{
font-size: 2.3vw;
}

.page7-content{
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}
.page7-content h1{
    font-size: 3vw;
}

.page7-content .sublinks{
    display: flex;
    margin-top: 3.5vh;
}

.page7-content .sublinks h4{
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;
    margin-bottom: 4vh;
}


.page7-elem{
    border-top: 1.5px solid rgb(211, 207, 207);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 10vh;
}
.page7-elem p{
    width: 50%;
    font-size: 1vw;
}
.page7-elem h3{
    width: 20%;
    font-size: 1.8vw;
    font-weight: 400;
    transition:  0.8s ease;
}

.page7-elem i{
    font-size: 1.5vw;
    transition:  0.8s ease;
}

.over7{
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: height 0.8s ease;
    background-color: rgba(255, 255, 255, 0.152);
}

.page7-elem:hover{
 border-top: 2px solid rgba(255, 255, 255, 0.966);
}
.page7-elem:hover .over7{
 height: 100%;
}
.page7-elem:hover h3{
    padding-left: 1vw;
}
.page7-elem:hover i{
    padding-right: 1vw;
}

.uiux{
border-top: 2px solid rgba(223, 222, 222, 0.2);
padding: 3vh 0;
}
.product{
border-top: 2px solid rgba(223, 222, 222, 0.2);
padding: 3vh 0;
}

summary::marker{
    content: none;
}

.page7-content .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page7-content .head .action-btn{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2.3vh 2.3vh;
    border-radius: 50%;
}

.details{
    transition: all 0.5s ease;
}


/* PAGE 8  */

.page8{
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    padding: 10vh 6vw;
}

.page8>h1{
font-size: 4.4vw;
color: black;
padding-inline: 30vw 12vw;
line-height: 4.4vw;
padding-bottom: 10vh;
border-bottom: 1px solid #dadada;
}

.page8-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 8vh;
}
.page8-content .page8-right{
    width: 70%;
}

.page8-content .page8-right p{
    font-size: 1.5vw;
    color: rgb(102, 100, 100);
    margin-bottom: 5vh;
    font-weight: 500;
    width: 78%;
    padding-left: 4vw;
}

.page8-content .left-btn{
    margin-left: 4vh;
    background-color: #0DA34E;
    min-width: 17vw; 
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page8-content .left-btn h4{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
}
.page8-content .left-btn h4 i{
    font-size: 1.3vw;
    font-weight: 100;
    margin-left: 1vw;
}

.page8-bottom{
    /* background-color: red; */
    width: 100%;
    height: 50vh;
    margin-top: 10vh;
    border-top: 1.5px solid rgba(141, 138, 138, 0.4);
}
.page8-bottom .bottom-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.page8-bottom .bottom-container .space{
    width: 50%;
}
.page8-bottom h5{
    margin: 3vh 0 6vh 1vh;
    color: rgb(25, 25, 25);
    font-weight: 500;
    font-size: 1vw;
}
.page8-bottom h4{
    background-color: #111;
    width: 17vw;
    padding: 12px 17px 12px 0px;
    border-radius: 50px;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-size: 1vw;
    font-weight: 500;
    color: rgb(224, 223, 223);
}
.page8-bottom h4 span{
  padding: 8px;
  background-color: #454545;
  border-radius: 50%;
  margin: 0.8vh 1.2vh 0.8vh 0.8vh;
}
.page8-bottom .bottom-container .bottom-item{
    width: 20%;
    border-left: 1.5px solid rgba(141, 138, 138, 0.4);
}
.page8-bottom #first-item{
    width: 55%;
}

/* .bottom-item h4:nth-child(2){
    transform: translateX(0%);
}
.bottom-item h4:nth-child(3){
    transform: translateX(10%);
}
.bottom-item h4:nth-child(4){
    transform: translateX(20%);
}
.bottom-item h4:nth-child(5){
    transform: translateX(30%);
}
.bottom-item h4:nth-child(6){
    transform: translateX(40%);
}
.bottom-item h4:nth-child(7){
    transform: translateX(50%);
} */

.page9{
    background-color: #111;
    height: 30vh;
    width: 100%;
    display: flex;
    padding: 4vh 10vw;
    gap: 15vw;
}
.page9 h3{
   font-size: 1vw;  
   color: rgb(150, 149, 149);
   font-weight: 600;
   margin-bottom: 3vh;
}
.page9 h4{
    font-size: 1vw;
    font-weight: 400;
    color: white;
    margin-block: 3vh;
}